<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kaist.orz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OrzMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterAccountActivity"
            android:label="@string/label_register_account" />
        <activity android:name=".AssignmentDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".RegisterAssignmentActivity" />
        <activity android:name=".ScheduleDetailsActivity" />
        <activity android:name=".RegisterScheduleActivity" />
        <activity
            android:name=".AccountSettingsActivity"
            android:label="@string/label_update_account" />
        <activity
            android:name=".MyCoursesActivity"
            android:label="@string/label_my_courses"
            android:parentActivityName=".OrzMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrzMainActivity" />
        </activity>
        <activity
            android:name=".OpenCoursesActivity"
            android:label="@string/label_open_courses"
            android:parentActivityName=".MyCoursesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyCoursesActivity" />
        </activity>
        <activity android:name=".NotificationSettingsActivity" />
        <activity android:name=".RegisterLectureActivity" />
        <activity android:name=".LectureDetailsActivity" />
        <activity android:name=".LecturerCoursesActivity"/>
        <activity android:name=".AssignmentDetailsLecturerActivity"></activity>
    </application>

</manifest>