<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.kaist.orz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OrzMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterAccountActivity" />
        <activity android:name=".AssignmentDetailsActivity" />
        <activity android:name=".RegisterAssignmentActivity" />
        <activity android:name=".ScheduleDetailsActivity" />
        <activity android:name=".RegisterScheduleActivity" />
        <activity android:name=".AccountSettingsActivity" />
        <activity android:name=".MyCoursesActivity" />
        <activity android:name=".OpenCoursesActivity" />
        <activity android:name=".NotificationSettingsActivity"></activity>
    </application>

</manifest>